<div class="flex-center mt-4" data-controller="counter">
  <div class="counter">
    <span id="counter" data-counter-target="counter"><%= @restaurant_count %></span>
  </div>

  <button class="btn btn-outline-secondary" data-action="counter#refresh">Refresh counter</button>
</div>